<%- include('../partials/header.ejs') %>
    <br>
    <section>
        <div class="container">
            <h1 class="text-center niceColor">Welcome to NewMart</h1>
            <p class="text-center">Your one-stop shop for all your needs</p>
           
        </div>  

    </section>
    <br><br>

    <section>
        <div class="container">
                <% if (message) { %>
                    <div class="alert alert-primary" role="alert">
                        <%- message %>
                    </div>
                <% } %>

            <br><br>

            <h3 class="text-center">Register</h3>

            <form name="registerForm" id="registerForm" method="POST" action="/auth/register">
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <div class="mb-3">
                    <label for="full_name" class="form-label">Full name</label>
                    <input type="text" class="form-control" id="full_name" name="full_name" required>
                </div>
                
                <a href="/auth" class="btn btn-primary">Login</a>
                <button type="submit" class="btn btn-danger">Register</button>
            </form> 
        </div>
        
              
    </section>


<%- include('../partials/footer.ejs') %>