<%- include('../partials/header.ejs') %>
    <br>
    <section>
        <div class="container">
            <h1 class="text-center niceColor">Payment page</h1>
            <p class="text-center">Thanks for shopping with us!</p>
        </div>  

    </section>
    <br><br>
    <section>
        <div class="container text-center">
            <h2 class="text-center">Your Cart Items</h2>
            <p>Pay using credit card</p>
            <a href="/cart/checkout" class="btn btn-primary">Pay Now : Rs <%- total %></a>
        </div>
    </section>
    <br><br> <br>


<%- include('../partials/footer.ejs') %>